.card {
  width: 100px;
  height: 140px;
  border-radius: 8px;
  background: white;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
  transition: transform 0.2s ease;
  border: 1px solid #e9ecef;
}

.card.back {
  background-color: #c9b9b9;
  border: 1px solid #b22222;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.card.back::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    repeating-linear-gradient(135deg, #222cb2 0 8px, transparent 8px 16px),
    repeating-linear-gradient(-135deg, #b222b2 0 8px, transparent 8px 16px);
  opacity: 0.3;
  
} 

.card-content {
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

.number.top {
  top: 1px;
  left: 8px;
}

.number.bottom {
  bottom: 1px;
  right: 8px;
  transform: rotate(180deg);
}

.number.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #ddd;
}
.suit {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Estilos para palos rojos */
.suit.♥,
.suit.♦
{
  border-color: #ff5555;
}
.number.bottom.♥,
.number.top.♥,
.number.top.♦,
.number.bottom.♦ {
  color: #ff5555;
}

/* Estilos para palos negros */
.suit.♠,
.suit.♣,
.number.♠,
.number.♣ {
  border-color: #2c3e50;
}

/* Efecto hover */
.card:hover {
  transform: translateY(-5px);
}

/* Estilo para carta seleccionada */
.card.selected {
  box-shadow:
    0 0 0 4px #4a90e2,
    0 0 16px 8px #4a90e288,
    0 5px 15px rgba(0,0,0,0.2);
  transition: box-shadow 0.2s;
  animation: card-glow 1s infinite alternate;
}

@keyframes card-glow {
  from {
    box-shadow:
      0 0 0 4px #4a90e2,
      0 0 8px 4px #4a90e244,
      0 5px 15px rgba(0,0,0,0.2);
  }
  to {
    box-shadow:
      0 0 0 8px #4a90e2,
      0 0 32px 16px #4a90e288,
      0 5px 15px rgba(0,0,0,0.2);
  }
}